<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title">Create New Blog post</h2><hr>
    <form class="new-post-form">
        <div>
            <label for="post-title">title:</label>
            <input class="input"  name="post-title" placeholder="insert post/blog title here" type="text" id="post-title">
              </div>
              <div>
                  <label for="post-content">title:</label>
                  <input  name="post-content" placeholder="insert blog content here" class="textarea is-large" id="post-content"/>
              </div>
              <button  class="button is-primary is-pulled-right" type="submit">create post</button>
    </form>
</section>
<script src="/js/add-post.js"></script>