<div class="column">
    <h2 class="title pb-4">Login</h2>
    <form class="login-form">
      <div >
        <label for="email-login">email:</label>
        <input  id="email-login"  type="text" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input id="password-login" type="password"  />
      </div>
      <div>
        <button class="btn btn-secondary" type="submit">login</button>
           <a href="/signup"><button  type="button" class="btn btn-secondary">signup</button></a>
      </div>
    </form>
  </div>

     
      

<script src="/js/login.js"></script>
