

<div class-"column">
  <h2 class="title pb-4"> create new account:</h2><hr>
  <form class="signup-form">
    <div>
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup"/>
    </div>
    <div>
    <label for="email-signup">email</label>
    <input  id="email-signup" type="text"/>
    </div>
    <div>
      <label for="twitter-signup">twitter:</label>
      <input  id="twitter-signup" type="text"/>
    </div>
    <div>
      <label for="github-signup">github</label>
      <input id="github-signup" type="text"/> 
    </div>
    <div>
      <label for="password-signup">password</label>
      <input  id="password-signup" type="password"/>

    </div>
    <div>
      <button class="button is-primary"  type="submit">signup</button>
    </div>
  </form>
</div>
<script src="/js/signup.js"></script> 